<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>Hello Page</title>
    </head>
    <body>
        <div sec:authorize="hasRole('ROLE_USER')">

            <div th:if="${httpServletRequest.getRemoteUser()} != null">
                <h2 th:inline="text">
                    User : [[${httpServletRequest.getRemoteUser()}]]
                </h2>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>