<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ADMIN</title>
</head>
<body th:inline="text">

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Title : [[${title}]]</h1>
        <h1>Message : [[${message}]]</h1>

        <div th:if="${httpServletRequest.getRemoteUser()} != null">
            <h2>
                Welcome : [[${httpServletRequest.getRemoteUser()}]]
            </h2>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</body>
</html>