<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>RepFin Login</title>
    </head>
    <body>
        #if ($error)
            <div>
                Invalid username and password
            </div>
        #end
        #if ($logout)
            <div>
                You have been logged out
            </div>
        #end

        <form action="/login" method="post">
            <div><label> User name: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input name="submit" type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>